<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Menu Principal</title>
</head>
<body id="body-menu">
    <header>
        <h1>Bienvenida a nuestra página</h1>
    </header>
    <section id="cards-container">
        <article class="cards">
            <div id="ourLove">
                <img src="../sources/images/heart.png" alt="Nuestro amor">
                <p>NOSOTROS</p>
            </div>
            <div id="ourFuture">
                <img src="../sources/images/home.png" alt="Nuestro futuro">
                <p>NUESTRO
                    <br>FUTURO
                </p>
            </div>
            <div id="timeTogether">
                <img src="../sources/images/clock.png" alt="Tiempo juntos">
                <p>TIEMPO 
                    <br>JUNTOS
                </p>
            </div>
        </article>
    </section>
    <div class="modal" id="ourLoveModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>NOSOTROS</h3>
                <img src="../sources/images/x_image.png" alt="Botón para cerrar ventana" id="ourLoveCancelBtn">
            </div>
            <div class="modal-body">
                <p>¡Hola preciosa!, en este módulo te platicaré de las bonitas experiencias que hemos tenido juntos en estos 3 bonitos años, asi que,
                     tomese el tiempo para leer todo en varios días si es que es mucho :)</p>
                <p>
                Principalmente, te quiero comentar el motivo de esta página, espero que te guste ya que le he <br>
                puesto mucho empeño y amor, es algo nuevo que nunca había hecho y se lo entregaré con mucho amor y cariño<br>
                </p>
                <p>
                    Todo comenzó un día de Agosto 2021, aquel día que la UDL nos hizo ir a la escuela un solo día a firmar un papel, la verdad ese día
                    yo iba renegando en el camino, ya que yo no quería regresar a las clases presenciales, entonces, ese día llegué temprano, me acomodé y
                    en la silla enfrente del pizarrón vi a una chica bien vestidita, con chamarrita de jeans y con unos jeans, la verdad muy hermosa esa mujer,
                    su pelito bien peinado, brilloso y bonito, entonces ya cuando se terminó la clase, yo decidí salirme primero y esperar a mis compañeros, entonces
                    volteo y veo a esa chica tan hermosa :), desde ese momento es cuando empece a sentir algo por usted aunque sea poquito, pero ya sentía algo <3
                </p>
                <p>
                    En noviembre, yo tenía pensado hablarle luego luego de haber regresado a clases, porque yo estuve desde agosto con la espinita de que usted me había gustado
                    ,aparte, en las videollamadas te reconocí y la verdad te me hiciste una chica super interesante por el hecho de realizar sus examenes con la luz apagada jaja
                    además de que se veía hermosa en las videollamadas. Duré tratando de hablarle un rato, el primer intento fue cuando le pregunté como había realizado la actividad y 
                    me mandó al tilín, entonces ahí me había bajoneado, pero después fue cuando me arme de valor, le hablé bien en las escaleras, diciéndole que yo la conocía, usted negaba el hecho
                    y posteriormente le pedí su número, usted asustada me lo dío y asi comenzó todo lo bonito! 
                </p>
                <p>
                    Posterior a ello, empezabamos a hablar, luego dejabamos de hablar, lo que nos mantenía o bueno a mí en contacto con usted, fue el hecho
                    de haber realizado una apuesta de que le mandaría un sticker de un pajarito todos los días jaja, eso me salvó, cuando ya no había escapatoria,
                    usted me dejo de hablar y ya no podía mandar al pajarito porque habíamos quedado que ya no, entonces usted subió la historia del capulín, yo se la respondí
                    y volvimos a las andadas siuuuuuu jaja. Ya después de eso empezamos un poco más serios en lo nuestro, le comenté que yo iba con otras intenciones y todo 
                    empezó a darse poco a poco, eso hasta el 29 de diciembre, habíamos planeado desde que terminaron los examenes el hecho de vernos, entonces quedamos que nos veríamos
                    el miércoles 29 de diciembre del 2021, sin esperar que ese día nos haríamos novios. Ese día todo empezó bonito, llegó usted un poco tarde, pero cuando llegó uff
                    valió cada minuto que esperé afuera jajaja, luego fuimos al italians coffee, le comenté 3 veces si quería ser mi novia y  hasta la tercera dijo que si, yo creí 
                    que era mentira, hasta que la vi seriecilla y me aceptó el abrazo uff sentí hermoso, ya hasta que nos dimos nuestro primer besito, ahí comenzó todo lo bonito <3
                </p>
                <p>
                    El 07 de enero fui a su casa a hablar con sus papás si mal no recuerdo para que la permitieran ser mi novia, ahí estuvo bonito, llegué y me saludó bien pana, 
                    andabamos los dos con miedo, bajaron sus papás y yo bien asustado viendo a su mamá viendome fijamente con cara de matarme, ya después vi que son bien buena onda
                    sus jefes y me sentí mejor, ya platicamos todo, nos dieron permiso y aquí andamossss!!, ese día recuerdo que fuimos por tacos y nos llevó su carnal, aún recuerdo
                    que saliendo de su casa, aprovechó y me dio un besito <3
                </p>
                <p>
                    Pasaron los días y llegó el 29 de enero, donde le regalé una cajita de bob esponja por nuestro primer mes juntos, prometimos que estaríamos todos los meses en la sala de su casa
                    ya que prometimos cumplir 1 y muchos más meses. Nos tomamos una fotito en el espejo, nuestra foto por el primer mes 
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/first_month.jfif">
                    <img src="../sources/images/ourImages/first_month02.jfif">
                </div>
                <p>
                    Pasaron los días, nosotros bien enamoradillos, usted bien mentirosilla a veces jaja, y nos volvimos a tomar una foto, cuando
                    su familia me ofreció comida, andaban comiendo guacamayas y durito, entonces andabamos conviviendo y comiendo usted y yo, fue poquito después
                    de cumplir el mes juntos mi amorcito.
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/after_first_month.jfif">
                </div>
                <p>
                    Mi papá el mismo 29 de diciembre, puso en la mañana la canción de para siempre, entonces como que la relacione con usted por lo bonito que dice, 
                    por eso se la dedique, porque cada que escucho Para siempre - Magneto, me recuerda a usted bien cañón, porque lo nuestro es para siempre, chiquita
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/forever.jpg">
                </div>
                <p>
                    Meses después, empezó a crecer más nuestro amor y confianza, antes le daba mas atención usted a rafaello, ya cuando no lo tomaba en cuenta por darme amor
                    a mi, supe que ya había ganado jaja, después fuimos al boliche, nos peleamos cañón en la escuela, nos veíamos cada receso, la acompañaba a su camioncito, 
                    después llegó el día del cumpleaños de mi mamá, donde la invité y nos la pasamos genial
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/mothers_birthday.jfif">
                </div>
                <p>
                    Continuó nuestro amor creciendo, conoció a toda mi familia Sánchez, le toqué por primera vez sus patas, hicimos nuestros momentos de amor por primera vez
                    hasta que llegó el día en que juramos por primera vez entre nosotros que estaríamos toda la vida, nos tomamos una fotito ese día.
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/first_swear.jfif">
                    <img src="../sources/images/ourImages/first_swear02.jfif">
                </div>
                <p>
                    Pasaron los días, nos veíamos únicamente en su casa porque no había dinero, pero había mucho amor y eso era lo importante jaja
                    fuimos a casarnos entre nosotros a la iglesia, juramos frente a Diosito que estaríamos siempre juntos como esposos y siempre seríamos fieles
                    eso fue el 19 de Agosto del 2022. Seguimos dandonos amor, cariño, confianza y llamadas diarias
                    hasta que llegó el día de mi graduación donde usted era probable que no fuera y saaazzz que llegó la panecita bien guapa a hacerme
                    feliz y estar conmigo porque sabía que era un día importante para mi, entonces, estar con mi familia, mi niña hermosa que en ese momento se
                    había convertido en mi esposa, con un diploma uff, que más podía pedir gente!!
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/my_graduation.jfif">
                </div>
                <p>
                    Seguimos viendonos en su casita por falta de billullo, nos dimos amor y cada día aumentaba más nuestra confianza e importancia mutua
                    entonces nos grabamos dandonos amorcito y haciendo lo mismo jaja
                </p>
                <div class="images-div">
                    <video src="../sources/images/ourImages/doing_the_same_thing.mp4" controls></video>
                </div>
                <p>
                    En diferentes ocasiones, nos grabamos dandonos amorcito, para que en un futuro mostrarle a nuestros hijos lo amorosos que eran sus padres
                    la verdad me gustaría retomar esto el 2025 amor, veo los videos y siento bonito de que tanto nos amamos usted y yo, ese día andabamos viendo películas,
                    luego llegó beto y empezaron a platicar en la cocina, por lo tanto aprovechamos para besarnos
                </p>
                <div class="images-div">
                    <video src="../sources/images/ourImages/afternoon_love.mp4" controls></video>
                    <video src="../sources/images/ourImages/kiss.mp4" controls></video>
                </div>
                <p>
                    Aprovechando las tardes en que se quedaba dormida esa muchacha, nos tomé varias fotos para el recuerdo
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/pamela_sleeping.jfif">
                </div>
                <p>
                    Después tuve mi primer trabajo en Yuyin, fuimos a nuestra primer cita en la hamburguería, que hasta usted guardó una jeringuita como recuerdo
                    , entre a Sistemas Premium donde nuestra primer cita cara fue en chilis y aproveché para tomarle foto a mi bebé
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/first_date_with_money.jfif">
                </div>
                <p>
                    Pasamos nuestra primer navidad juntitos, conviviendo con su familia y felices
                </p>
                <div class="images-div">
                    <video src="../sources/images/ourImages/first_winter_together_video.mp4" controls></video>
                </div>
                <p>
                    Cumplimos el añito juntos, pasamos al 2023, donde el 07 de enero me hizo hombre y yo a usted mujer, lo hicimos 3 veces y la última fue donde 
                    sucedio todo y nos gustó mucho que para el recuerdo tomamos una fotito. Le agradezco la confianza que me ha dado muchachita, la verdad
                    el regalo que me dió ese día, siempre se lo tendré bien agradecido y guardado en mi corazón 
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/first_time.jfif">
                </div>
                <p>
                    Se llegó el cumpleaños de la panecita y le regalé un patricio de peluchito, me encantó observar su carita de felicidad al ver el peluchito
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/second_pamelas_birthday.jfif">
                </div>
                <p>
                    Como observé a la panecita le gustaban los amigurumis, le pedí a mi mamá que me enseñara a hacer crochet, por lo tanto
                    le hice varios amigurumis a mi bebé, el principal fue el mike y un patito en su graduación
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/first_crochet.jfif">
                </div>
                <p>
                    En ese enero, fuimos a Luztopia con el Max y caro, estuvo muy bonito aunque nos peleamos al final, pero estuvo de 10 hija, los días seguían pasando 
                    y nos empezamos a pelear macizon, pero estuvo bonito porque tuvimos nuestra primera vez, después entre en desconfianza pero luche y salió todo bien,
                    entre mayo y agosto, se puso cañona la relación, pero se logró hablar un día de agosto y todo quedo al 100 nuevamente, se hablo en la estación donde
                    trabaja su jefe y después joyas. En ese mismo agosto, la panecita se nos graduo, siuuu mi ingeniera guapa
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/pamelasgraduation.jfif">
                </div>
                <p>
                    Entre septiembre y noviembre, la panecita quiso venir conmigo a comer una rica pasta en chilis, donde se tomó una margarita
                    y llegó bien mal a su casa porque se le subió jaja, lastima que en la noche empezó a sentir lo de su hernia.
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/date.jfif">
                </div>
                <p>
                    Ese mismo año, me invitó a la boda de su prima, donde fuimos a Irapuato. Me encanto haber pasado todos esos días días
                    junto a usted, fue algo nuevo, muy bonito, la verdad quedé encantado, verla en todas las fases que tiene panecita, me hicieron enamorarme mucho más de usted
                    poder estar juntos tanto tiempo, me hizo muy feliz, el conocer la casa de sus abuelitos, convivir, estar con usted en un viajecito, fue muy bonito.
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/pamelasunlce_wedding.jfif">
                </div>
                <div class="images-div" style="margin-top: 20px;">
                    <img src="../sources/images/ourImages/first_time_in_irapuato.jfif">
                </div>
                <p>
                    Nuevamente fuimos a Irapuato juntos, a mimir al niño Dios donde me compré un perrito bien bueno, fuimos a caminar en el centro juntitos,
                    admiramos algunos adornos navideños y todo estuvo de 10 mi vida, fue increíble conocer Irapuato con usted
                </p>
                <div class="images-div">
                    <img src="../sources/images/ourImages/Irapuatoswinter.jfif">
                    <img src="../sources/images/ourImages/Irapuatoswinter02.jfif">
                </div>
                <div class="images-div" style="margin-top: 20px;">
                    <img src="../sources/images/ourImages/irapuato_lasttime.jfif">
                </div>
                <p>
                    Un día amorosos nos decidimos tomar foto antes de navidad
                </p>
                <div class="images-div" style="margin-top: 20px;">
                    <img src="../sources/images/ourImages/winter.jfif">
                </div>
                <p>
                    Terminando diciembre, nuevamente fuimos a luztopia, pero ya ahora todo lleno de amor de principio a fin, el max venía bien furioso, nosotros como si nada
                    y el max enojado porque llegamos tarde jaja, pero nos la pasamos increíble, la verdad cada momento a su lado es mágico, es como si todo se detuviera y solo fueramos 
                    tu y yo
                </p>
                <div class="images-div" style="margin-top: 20px;">
                    <img src="../sources/images/ourImages/luztopia.jfif">
                    <img src="../sources/images/ourImages/luztopia02.jfif">
                </div>
                <p>
                    Comenzamos el tercer año, llenos de amor, de muchas cositas realizadas juntos, ya más estables y enfocados a amarnos siempre, comenzamos
                    a madurar más en el amor, a tener mucha confianza y cariño, tuvimos muchas peleas de las cuales hemos estado aprendiendo, hemos estado mejorando
                    para que en un futuro seamos unos esposos muy amorosos y bonitos. Empezamos a comprar elotitos ya más seguido, ir a starlight, conocer nuevos restaurantes
                </p>
                <div class="images-div" style="margin-top: 20px;">
                    <img src="../sources/images/ourImages/buying_corns.jfif">
                </div>
                <p>
                    En este año casi no nos tomamos fotitos nuevas, creo que es el año donde más nos hemos peleado, pero hemos aprendido bastante del otro
                    tuvimos la experiencia de ir al halloween zoo que fue increíble, siempre me han dado miedo las casas del terror y nunca me había animado
                    a entrar a una, pero esta vez, por usted me animé a entrar y fuimos los primeritos de la fila jajaj, fue increíble el perdernos juntos aunque
                    yo andaba todo nervioso jaja, el experimentar el miedo juntos, yo grite y grite jaja, estuvo genial
                </p>
                <div class="images-div" style="margin-top: 20px;">
                    <img src="../sources/images/ourImages/halloween_zoo.jfif">
                </div>
                <p>
                    Después de ese día, pasó algo que nunca esperé y fue lo de vietnam, la verdad como siempre le digo, le pido que me perdoné por haber sido tan estupido,
                    por no haber sabido actuar, la verdad toda mi vida me arrepentiré de haber actuado de esa forma, le prometo y le juro que nunca más se repetirá la situación
                    pero perdone por eso... creame que yo nunca quise lastimarla y mucho menos que se sintiera sola... Pero Booh esta en un lugar especial,
                    a pesar de estar en nuestros corazones, esta en el cielo de los perritos esperando cuando llegue su dueña, que tanto la amo y quiso, que le enseñó trucos, que hizo
                    lo imposible por poder salvarla... Se que la haré llorar con este pedacito, pero era necesario incluir a esa perrita tan bonita que un día regresé a casa
                </p>
                <div class="images-div" style="margin-top: 20px;">
                    <img src="../sources/images/ourImages/Booh.jfif">
                </div>
                <p>
                    Logramos solucionar nuestro problemas, como esposos que somos, nos seguimos peleando en diciembre pero implementamos algo bonito, que fue el jugar por primera vez 
                    juntos minecraft, se me hace increíble jugar con usted, muy divertido y además es como si estuvieramos juntos y es bonito eso
                </p>
                <div class="images-div" style="margin-top: 20px;">
                    <img src="../sources/images/ourImages/first_time_playing_mc.jfif">
                </div>
                <p>
                    Pues aquí ya terminó este modulo amorcito, espero que te haya gustado este módulo, lo hice con mucho amor, me hace falta mejorar mis habilidades
                    con css jaja, pero ahí la llevamos, se estará actualizando la página con nuevos momentos especiales para nosotros, de igual manera, me faltó integrar algunos
                    pero esta es la versión 1.0. La amo muchísimo preciosa, espero me pueda regalar más momento increíble con usted, porque la verdad amarte es el sentimiento más bonito que 
                    que me ha dado la vida y tu eres la persona más bonita que me dio Dios.
                    Le propongo el generar más recuerdos juntos, más fotos juntos, y que se quede conmigo mi amor
                </p>
            </div>
        </div>
    </div>
    <div class="modal" id="ourFutureModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>NUESTRO FUTURO</h3>
                <img src="../sources/images/x_image.png" alt="Botón para cerrar ventana" id="ourFutureCancelBtn">
            </div>
            <div class="modal-body">
                <p>
                    ¡Hola nuevamente piciosa! Este módulo lo diseñé para realizar nuestros planes a futuro, cada vez que vayamos completando
                    cada plan, yo iré renovando la página y señalando como marcados los que ya hemos completado, estos son los que hemos dicho
                    que cumpliremos y que tenemos ganas, en un futuro se seguirán actualizando.
                </p>
                <p>
                    Primero que nada, quiero comentarle que yo con usted me veo hasta que yo me muera, yo me tomo nuestra relación muy en serio muchacha
                    por si es que tiene dudas o etc, quiero comentarle que yo a usted la amo como no tiene una idea, yo quiero construir una familia, nuestra casita,
                    tener 3 perritos, algunos que sean de la calle y otros de raza, le pido por favor que tenga paciencia, le daré todo lo que usted sueña, solo no se rinda
                    y siga amandome y siendo fiel, no tardaré mucho mi amor!
                </p>
                <ul>
                    <li><input type="checkbox" disabled="disabled"> Picnic</li>
                    <li><input type="checkbox" disabled="disabled"> Obra de teatro</li>
                    <li><input type="checkbox" disabled="disabled"> Ir al expiatorio</li>
                    <li><input type="checkbox" disabled="disabled"> Ir a Cristo Rey</li>
                    <li><input type="checkbox" disabled="disabled"> Ir al acuario</li>
                    <li><input type="checkbox" disabled="disabled"> Ir al zoológico</li>
                    <li><input type="checkbox" disabled="disabled"> Ir a la feria</li>
                    <li><input type="checkbox" disabled="disabled"> Ir al metropolitano</li>
                    <li><input type="checkbox" disabled="disabled"> Ir al museo</li>
                    <li><input type="checkbox" disabled="disabled"> Ir a concierto instrumental</li>
                    <li><input type="checkbox" disabled="disabled"> Ir a evento de la feria</li>
                    <li><input type="checkbox" disabled="disabled"> Ir a Pampita</li>
                    <li><input type="checkbox" disabled="disabled"> Cumplir 4 años de relación</li>
                    <li><input type="checkbox" disabled="disabled"> Pedir su mano</li>
                    <li><input type="checkbox" disabled="disabled"> Dormir juntos</li>
                    <li><input type="checkbox" disabled="disabled"> Pijamada juntos</li>
                    <li><input type="checkbox" disabled="disabled"> Tener una familia</li>
                    <li><input type="checkbox" disabled="disabled"> Adoptar una mascota</li>
                    <li><input type="checkbox" disabled="disabled"> Pasar una vida juntos</li>
                    <li><input type="checkbox" disabled="disabled"> Regalar reyes magos a nuestros hijos</li>
                    <li><input type="checkbox" disabled="disabled"> Comprar nuestra casita</li>
                    <li><input type="checkbox" disabled="disabled"> Comprar nuestros muebles</li>
                    <li><input type="checkbox" disabled="disabled"> Viajar a algún pueblito</li>
                    <li><input type="checkbox" disabled="disabled"> Viajar a algún país</li>
                    <li><input type="checkbox" disabled="disabled"> Viajar a Japón</li>
                    <li><input type="checkbox" disabled="disabled"> Viajar a Italia</li>
                    <li><input type="checkbox" disabled="disabled"> Viajar a New York en Navidad</li>
                </ul>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
    <div class="modal" id="ourTimeTogetherModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>TIEMPO JUNTOS</h3>
                <img src="../sources/images/x_image.png" alt="Botón para cerrar ventana" id="ourTimeTogetherCancelBtn">
            </div>
            <div class="modal-body" id="timeTogether-modal-body">
                <div id="years">
                    <h3>AÑOS</h3>
                    <h3 id="date-years"></h3>
                </div>
                <div id="months">
                    <h3>MESES</h3>
                    <h3 id="date-months"></h3>
                </div>
                <div id="days">
                    <h3>DÍAS</h3>
                    <h3 id="date-days"></h3>
                </div>
                <div id="hours">
                    <h3>HORAS</h3>
                    <h3 id="date-hours"></h3>
                </div>
            </div>
        </div>
    </div>
    <script src="../scripts/script.js"></script>
</body>
<script>
</script>
</html>